// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #FF0000;
$color-grey: #9E9E9E;
$color-yellow: #f6e200;

// Fonts
$font-clash-display: 'Clash Display';

// Fonts size
$font-lg: 3.5rem;
$font-md-pls: 2.8rem;
$font-md: 2.3rem;
$font-sm: 1.75rem;
$font-smm: 1rem;
$font-sxm: 0.7rem;

// Main style
* {
  margin: 0;
  padding: 0;
  font-family: $font-clash-display;
  color: $color-white;
  box-sizing: border-box;
}

body {
  background-color: $color-black;
}
